<div class="navbar navbar-inverse navbar-static-top bg-dark">
    <div class="container-fluid">
        <a href="#" class="navbar-brand"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header" 
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="text-white">&#9776;</span>
        </button>      
    </div>
  </div>
<div class="navbar-collapse collapse bg-inverse" id="navbar-header">
    <div class="container-fluid">
        <ul class="list-unstyled">
          <li><a href="#">jobs available</a></li>
        </ul>
    </div>
  </div>